* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --font-Weights-s: 400;
    --font-Weights-b: 700;
    --font-paragraph: 16px;
    --tomato: hsl(4, 100%, 67%);
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    height: 100vh;
    background: var(--Dark-Slate-Grey);

}

#newsletter {
    background-color: var(--White);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 10px;
    overflow: hidden;
    padding: 20px;

}

#newsletter .info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#newsletter .info h1 {
    font-size: 50px;
    color: var(--Charcoal-Grey);
    font-weight: var(--font-Weights-b);
    margin-top: 70px;
    margin-bottom: 20px;
}

#newsletter p {
    width: 90%;
}

#newsletter .info .disription {
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Grey);
}

.features {
    display: grid;
    grid-template-columns: 1fr;
}

.features .features-info {
    padding: 8px 0px;
}

.features .features-info img {
    float: left;
}

.features .features-info p {
    padding-left: 35px;
    margin-bottom: 3px;
    font-size: 16px;
    color: var(--Grey);
}

#newsletter #form-meassge {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;

}

#newsletter #form-meassge #email {
    margin-bottom: 10px;
}

#email:focus {
    outline: none !important;

}

#newsletter #form-meassge input {
    background: #fff;
    padding: 20px 20px;
    border: 1px solid var(--Grey);
    color: var(--Grey);
    margin-top: 10px;
    width: 85%;
    border-radius: 5px;
    cursor: cell;
}

#email-arror {
    position: absolute;
    right: -49%;
    top: 0;
    font-size: 13px;
    color: var(--tomato);

}

#newsletter #form-meassge #subscribe {
    background-color: var(--Dark-Slate-Grey);
    margin-top: 20px;
    color: var(--White);
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all .3s;
}
#newsletter #form-meassge #subscribe:hover {
    background: var(--tomato);
}

.features-image {
    background-image: url(images/illustration-sign-up-desktop.svg);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    object-fit: contain;

}

/* show  result after click the subscribe */

.result {
    background: var(--White);
    width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: 5; */
    border-radius: 20px;
    padding: 60px;
    transition: all cubic-bezier(0.47, 0, 0.745, 0.715);
    display: none;

}

.result .logo img {
    width: 50px;
}

.result .title h2 {
    font-size: 45px;
    color: var(--Charcoal-Grey);
    font-weight: var(--font-Weights-b);
    margin: 50px 0px 15px 0px;
    max-width: 90%;
}

.result p {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--Grey);
}

.result .send-infirmation button {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    padding: 15px 20px;
    border: 1px solid var(--Charcoal-Grey);
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;

}

.after {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}