* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --font-Weights-s: 400;
    --font-Weights-b: 700;
    --font-paragraph: 16px;
    --tomato: hsl(4, 100%, 67%);
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    height: 100vh;
    background: var(--Dark-Slate-Grey);

}

#newsletter {
    background: var(--White);
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-radius: 20px;
    padding: 20px 20px 20px 50px;
    transition: all cubic-bezier(0.47, 0, 0.745, 0.715);
    
}

#newsletter .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#newsletter .info h1 {
    font-size: 45px;
    color: var(--Charcoal-Grey);
    font-weight: var(--font-Weights-b);
    margin: 50px 0px 15px 0px;
}

#newsletter .info .disription {
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    font-weight: 700;
    color: var(--Grey);
}

.futues {
    display: grid;
    grid-template-columns: 1fr;

    /* gap: 20px; */
}

.futues .futues-info {
    padding: 8px 0px;
}

.futues .futues-info img {
    float: left;
}

.futues .futues-info p {
    padding-left: 35px;
    margin-bottom: 3px;
    font-size: 16px;
    color: var(--Grey);
}

#newsletter #form-meassge {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;

}

#newsletter #form-meassge #email {
    margin-bottom: 10px;
}

/* #newsletter #form-meassge #email:focus {
    background: none;
    border: none;


} */
#email:focus {
    outline: none !important;
    /* border: 1px solid var(--tomato)!important;
    background: hsl(5, 76%, 90%) !important; */
}

#newsletter #form-meassge input {
    background: #fff;
    padding: 15px 20px;
    border: 1px solid var(--Charcoal-Grey);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#email-arror {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    color: var(--tomato);

}

#newsletter #form-meassge #subscribe {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
}

#newsletter .futues-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* show  recition after click the subscribe */

.result {
    background: var(--White);
    width: 30%;
    display: flex;
    flex-direction: column;
    /* gap: 5; */
    border-radius: 20px;
    padding: 60px;
        transition: all cubic-bezier(0.47, 0, 0.745, 0.715);
        display: none;

}

.result .logo img {
    width: 50px;
}

.result .title h2 {
    font-size: 45px;
    color: var(--Charcoal-Grey);
    font-weight: var(--font-Weights-b);
    margin: 50px 0px 15px 0px;
    max-width: 90%;
}

.result p {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--Grey);
}

.result .send-infirmation button {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    padding: 15px 20px;
    border: 1px solid var(--Charcoal-Grey);
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;

}